<div class="container">
    <h1>Luxury Hotels in UZB</h1>
    <div class="carts">
        <div class="cart">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/22/e1/3b/caption.jpg?w=1200&h=-1&s=1" alt="Taj Mahal Palace">
            <h5>Taj Mahal Palace, Mumbai</h5>
            <p>Iconic luxury hotel overlooking the Gateway of India.</p>
        </div>
        <div class="cart">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/2e/e2/e1/hilton-tashkent-city.jpg?w=1200&h=-1&s=1" alt="Oberoi Udaivilas">
            <h5>Oberoi Udaivilas, Udaipur</h5>
            <p>Palatial lakeside resort with stunning Lake Pichola views.</p>
        </div>
        <div class="cart">
            <img src="https://cf.bstatic.com/static/img/theme-index/bg_luxury/869918c9da63b2c5685fce05965700da5b0e6617.jpg" alt="ITC Maurya">
            <h5>ITC Maurya, New Delhi</h5>
            <p>Luxury hotel famous for its Bukhara restaurant.</p>
        </div>
        <div class="cart">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/585346089.webp?k=2289e5f1788fcc20ba0ac53c72544f846dc0c7603746c9673b4946663576678f&o=" alt="Taj Lake Palace">
            <h5>Taj Lake Palace, Udaipur</h5>
            <p>Romantic 18th-century marble palace on Lake Pichola.</p>
        </div>
        <div class="cart">
            <img src="https://uzbek-travel.com/images/uz/Hotels/Tashkent/International_Hotel/16185206.jpg" alt="The Leela Palace">
            <h5>The Leela Palace, Bengaluru</h5>
            <p>Royal heritage hotel with lush gardens and pools.</p>
        </div>
        <div class="cart">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/16/Nest_One_building_at_night.jpg/640px-Nest_One_building_at_night.jpg" alt="Rambagh Palace">
            <h5>Rambagh Palace, Jaipur</h5>
            <p>Former royal residence turned luxury hotel.</p>
        </div>
    </div>
</div>