<div class="container">
    <h1>Luxury Hotels in India</h1>
    <div class="carts">
        <div class="cart">
            <img src="https://avatars.mds.yandex.net/get-altay/1938323/2a0000017ac3e3cf15f1de158ae1cb0d3a80/L" alt="Taj Mahal Palace">
            <h5>Taj Mahal Palace, Mumbai</h5>
            <p>Iconic luxury hotel overlooking the Gateway of India.</p>
        </div>
        <div class="cart">
            <img src="https://q.bstatic.com/xdata/images/hotel/max1024x768/94167743.jpg?k=c393f0493fcc1f41e3d3714282995e8b19b64ed86463f017266719d36f0a49c9&o=" alt="Oberoi Udaivilas">
            <h5>Oberoi Udaivilas, Udaipur</h5>
            <p>Palatial lakeside resort with stunning Lake Pichola views.</p>
        </div>
        <div class="cart">
            <img src="https://pix3.agoda.net/hotelimages/286/286603/286603_13022816410010716067.jpg" alt="ITC Maurya">
            <h5>ITC Maurya, New Delhi</h5>
            <p>Luxury hotel famous for its Bukhara restaurant.</p>
        </div>
        <div class="cart">
            <img src="https://avatars.mds.yandex.net/i?id=01e3b4a2b728c0fa3aa55272fb83769acab9cfb2-5318825-images-thumbs&ref=rim&n=33&w=480&h=301" alt="Taj Lake Palace">
            <h5>Taj Lake Palace, Udaipur</h5>
            <p>Romantic 18th-century marble palace on Lake Pichola.</p>
        </div>
        <div class="cart">
            <img src="https://avatars.mds.yandex.net/i?id=107e9961a9b16cf35aa72beb9881df168f7c5132-8763423-images-thumbs&ref=rim&n=33&w=480&h=320" alt="The Leela Palace">
            <h5>The Leela Palace, Bengaluru</h5>
            <p>Royal heritage hotel with lush gardens and pools.</p>
        </div>
        <div class="cart">
            <img src="https://avatars.mds.yandex.net/i?id=e42db33f0c419a2c58f6ca192b2a40a1-5304681-images-thumbs&ref=rim&n=33&w=480&h=320" alt="Rambagh Palace">
            <h5>Rambagh Palace, Jaipur</h5>
            <p>Former royal residence turned luxury hotel.</p>
        </div>
    </div>
</div>